section.config {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--outer-padding);
}

.tab-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--outer-padding);

    position: relative;
}

.tab-row input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;

    height: 0;
    width: 0;

    opacity: 0;
}

.tab-row input[type='radio']:focus-visible + label {

}
.tab-row label {
    cursor: pointer;

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: calc(var(--outer-padding) / 2);

    padding: var(--outer-padding) calc(var(--outer-padding) * 2);

    background: var(--white-3);
    color: var(--black-1);

    border-radius: calc(var(--border-radius) - var(--outer-padding) / 2);

    transition: var(--transition);
}

.tab-row label:hover, .tab-row input[type='radio']:focus-visible + label{
    transform: scale(1.075);
    filter: brightness(1.05);
    box-shadow: var(--shadow);
}

.tab-row label:active {
    transform: scale(0.95);
    filter: brightness(0.95);
}

.tab-row input:checked + label {
    background: var(--black-1);
    color: var(--white-1);
}

.content {
    width: 100%;
    height: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content .config_pane {
	width: 0%;
	height: 100%;

	transition: var(--transition);

	opacity: 0;

	transform: scale(0.85);

	background: var(--white-3);
	border-radius: calc(var(--border-radius) - var(--outer-padding) / 2);
}

.content .config_pane:not([inert]) {
	width: 100%;

	opacity: 1;

	transform: scale(1);
}