aside.config {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--nominal-padding);

	flex-grow: 0;

	.tab-row {
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--nominal-padding);

		position: relative;

		label {
			width: 100%;

			gap: calc(var(--nominal-padding) / 2);

			padding: var(--nominal-padding) calc(var(--nominal-padding) * 2);

			background: var(--white-2);
			color: var(--black-1);
		}

		input:focus-visible + label {
			transform: scale(1.075);
			filter: brightness(1.05);
			box-shadow: var(--shadow);
		}

		input:checked + label {
			background: var(--black-1);
			color: var(--white-1);
		}
	}

	.content {
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.config_pane {
			width: 0%;
			height: 100%;

			padding: 0;

			transition: var(--transition);

			opacity: 0;

			transform: scale(0.75);

			background: var(--white-2);
			border-radius: var(--border-radius);

			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;

			fieldset.grid_selector .options_container {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		.config_pane:not([inert]) {
			width: 100%;

			opacity: 1;

			padding: var(--nominal-padding);

			transform: scale(1);
		}
	}
}