fieldset.grid_selector {
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
    margin-top: var(--nominal-padding);

    legend {
        width: 100%;

        font-weight: bold;
        text-align: center;

        padding: var(--nominal-padding);
    }
    .options_container {
        display: grid;
        gap: var(--nominal-padding);
        grid-template-columns: 1fr 1fr 1fr;

        label {
            padding: var(--nominal-padding);
            background: var(--white-1);

            border-radius: calc(var(--border-radius) - var(--nominal-padding) / 2);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            transition: var(--transition);

            cursor: pointer;

            .option_content {
                font-size: 0.75em;
                color: var(--black-3);
            }
        }

        input:checked + label {
            background: var(--black-1);
            color: var(--white-1);

            .option_content {
                color: var(--white-3);
            }
        }

        input:focus-visible + label {
            transform: scale(1.075);
            filter: brightness(1.05);

            box-shadow: var(--shadow);
        }
    }
}