@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --nominal-padding: 12px;
    --border-radius: 15px;
    --pill-border-radius: 75px;
    --white-1: rgb(226, 228, 231);
    --white-2: rgb(200, 205, 213);
    --white-3: rgb(158, 166, 177);
    --black-1: rgb(35, 43, 55);
    --black-2: rgb(57, 65, 78);
    --black-3: rgb(71, 78, 90);
    --transition: all 150ms cubic-bezier(0.25, 0.82, 0.32, 1); 
    --shadow: 0px 1px 10px 0px rgba(56, 65, 79, 0.2);
}

* {
    box-sizing: border-box;
	font-family: 'Elms Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;

	background: var(--white-1);

	width: 100%;
    height: 100%;
}

#root {
	height: 100%;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: var(--nominal-padding);

    padding: var(--nominal-padding);
}

.clickable {
    cursor: pointer; 

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--pill-border-radius); 

    transition: var(--transition);
}


.clickable:hover, .clickable:focus-visible {
    transform: scale(1.075);
    filter: brightness(1.05);
    box-shadow: var(--shadow);
}

.clickable:active {
    transform: scale(0.95);
    filter: brightness(0.95);
}

.hidden {
    position: absolute;
    top: 0;
    left: 0;

    height: 0;
    width: 0;

    opacity: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: unset;
    -moz-appearance: textfield;
}