@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --outer-padding: 12px;
    --border-radius: 15px;
    --white-1: rgb(226, 228, 231);
    --white-2: rgb(200, 205, 213);
    --white-3: rgb(180, 186, 195);
    --black-1: rgb(35, 43, 55);
    --transition: all 150ms cubic-bezier(0.25, 0.82, 0.32, 1); 
    --shadow: 0px 1px 18px 0px rgba(0,0,0,0.2);
}

* {
    box-sizing: border-box;
	font-family: 'Elms Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;

	background: var(--white-1);

	width: 100%;
    height: 100%;
}

#root {
	height: 100%;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: var(--outer-padding);

    padding: var(--outer-padding);
}